.PinCode {
    width: 240px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.password {
    padding-top: 15px;
    text-align: end;
    height: 50px;
    margin: 0;
}

.success {
    height: 50px;
    border: 2px solid #ccc;
    text-align: end;
    background-color: green;
}
.enter {
    height: 50px;
    border: 2px solid #ccc;
    text-align: end;
}

.error {
    height: 50px;
    border: 2px solid #ccc;
    text-align: end;
    background-color: firebrick;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 80px;
    height: 40px;
    border: 1px solid #000;
    outline: none;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    background-color: lightgrey;


}

button:hover {
    background-color: #cccccc
}

button:active {
    background-color: darkgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.value {
    font-size: 24px;
    margin: 10px;
}

.error {

}

.success {

}
